
// sidebar
$menuText: #ffffff; // 所有没选中的字体颜色
$menuActiveText: #ea9928; // "首页"和菜单选中时字体颜色
$subMenuActiveText: #ffffff; // 目录选中时字体颜色

$menuBg:#9b0d14; // 目录背景颜色
$menuHover: #77090e; // 目录鼠标悬浮背景颜色

$subMenuBg: #b0131a; // 菜单背景颜色
$subMenuHover: #77090e; // 菜单鼠标悬浮背景颜色

$sideBarWidth: 210px; // 侧边栏宽度

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
